#sub-facility-wrap {
  min-width: 90.625rem;
  background-color: #fff;
}

.facility-background {
  background-image: url('../images/병원시설배경.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: cover;
  width: 100%;
  display: table;
  text-align: center;
}
.facility-background .sub-facility-con {
  padding-inline: 2rem;
  display: table-cell;
  color: #000;
  vertical-align: middle;
}
.facility-background .sub-facility-con .facility-intro {
  font-size: 2.5rem;
  margin-top: 5rem;
}
.facility-background .sub-facility-con hr {
  width: 5rem;
  margin: 1.875rem auto;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
}
.facility-background .sub-facility-con p {
  font-size: 1.3rem;
}

.fa-whole-box {
  margin-inline: 15rem;
  gap: 2rem;
  margin-block: 5rem 2rem;
}

.fa-tab-menu__head-box {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-tab-menu__head-box ul {
  gap: 2rem;
}
.fa-tab-menu__head-box li {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  padding: 0.7rem 5rem 0.7rem 1.4rem;
  font-size: 1.2rem;
  position: relative;
  font-family: fontAwesome;
  cursor: pointer;
  letter-spacing: 1.5px;
  white-space: nowrap;
}
.fa-tab-menu__head-box li::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translatey(-50%);
  opacity: 0.7;
  font-size: 1.3rem;
}
.fa-tab-menu__head-box li.active {
  background-color: #43736e;
  color: #fff;
}

.fa-tab-menu__body {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
.fa-tab-menu__body li {
  display: none;
  width: 100%;
  height: 100%;
}
.fa-tab-menu__body li img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}
.fa-tab-menu__body li.active {
  display: block;
}

@media (width <= 768px) {
  #sub-facility-wrap {
    display: none;
  }

  .mo-real-scroll-box {
    display: block !important;
  }

  .mobile-side-menu-box {
    display: block !important;
  }

  .mo-sub-facility-wrap {
    display: block !important;
  }

  .mo-real-scroll-box {
    display: block !important;
    position: fixed;
    top: 80%;
    right: 6%;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 30;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s, visibility 0.25s;
  }
  .mo-real-scroll-box.active {
    opacity: 1;
    visibility: visible;
  }
  .mo-real-scroll-box li {
    border-radius: 50%;
    background-color: #bf9673;
    background: linear-gradient(to right, #43736e, #bf9673);
    overflow: hidden;
    margin-bottom: 8px;
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
  }
  .mo-real-scroll-box .mo-side-top-quick-menu {
    width: 3.5rem;
    height: 3.5rem;
  }
  .mo-real-scroll-box .mo-side-top-quick-menu span {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 0.65rem;
    color: #fff;
  }
  .mo-real-scroll-box img {
    width: 2.4rem;
    transform: translate(23%, 22.5%);
    height: 2.4rem;
  }
  .mo-real-scroll-box .mo-top-font {
    font-family: 'fontAwesome';
    position: relative;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: underline;
    color: #fff;
  }

  .mo-scroll-menu-box {
    position: relative;
  }
  .mo-scroll-menu-box .mo-side-top-quick-menu {
    position: relative;
    z-index: 30;
  }
  .mo-scroll-menu-box .mo-quick-btn,
  .mo-scroll-menu-box .mo-youtube-btn,
  .mo-scroll-menu-box .mo-blog-btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    width: 3.5rem;
    height: 3.5rem;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s, opacity 0.1s, visibility 0.1s;
  }
}
.mo-blog-btn.active {
  transform: translate(-20px, -65px);
  opacity: 1;
  visibility: visible;
}

.mo-youtube-btn.active {
  transform: translate(-20px, -130px);
  opacity: 1;
  visibility: visible;
}

.mo-quick-btn.active {
  transform: translate(-20px, -194px);
  opacity: 1;
  visibility: visible;
}

@media (width <= 768px) {
  .mo-1-wrap {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    min-width: 320px;
  }

  .mo-top-bar {
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    background: #f8f8f8;
  }

  .mo-top-bar-con {
    width: 100%;
    padding: 15px;
    justify-content: space-between;
  }

  .mo-right-menu {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .mo-right-menu button {
    cursor: pointer;
  }
}
.mobile-side-menu-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 70;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}
.mobile-side-menu-box.active {
  opacity: 1;
  visibility: visible;
}
.mobile-side-menu-box.active .mobile-side-bar {
  transform: translateX(0);
}
.mobile-side-menu-box .mobile-side-bar {
  width: 320px;
  height: 100%;
  margin-left: auto;
  background: #43736e;
  transform: translateX(100%);
  transition: transform 0.3s;
  color: #fff;
}

.mobile-side-menu__top {
  position: relative;
  flex-shrink: 0;
  border-bottom: 1px solid #000;
  background: #fff;
}
.mobile-side-menu__top .mobile-side-bar__close-btn {
  position: absolute;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  top: 20%;
  right: 5%;
}
.mobile-side-menu__top .mobile-side-bar__close-btn div {
  position: absolute;
  width: 2.5rem;
  height: 4px;
  border-radius: 10px;
  top: 49%;
  background: #000;
}
.mobile-side-menu__top .mobile-side-bar__close-btn div:nth-child(1) {
  transform: rotate(45deg);
}
.mobile-side-menu__top .mobile-side-bar__close-btn div:nth-child(2) {
  transform: rotate(-45deg);
}

.mobile-side-menu__bottom .mo-dep1 > li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.mobile-side-menu__bottom .dep-1-txt {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px;
}
.mobile-side-menu__bottom .dep-1-txt:hover {
  text-decoration: underline;
}
.mobile-side-menu__bottom .mo-dep2 > li {
  padding: 5px;
}
.mobile-side-menu__bottom .mo-dep2 > li .dep-2-txt {
  padding-block: 8px 2px;
  display: block;
  text-align: center;
}
.mobile-side-menu__bottom .mo-dep2 > li .dep-2-txt:hover {
  text-decoration: underline;
}
.mobile-side-menu__bottom ul ul {
  display: none;
}
.mobile-side-menu__bottom ul li {
  background: rgba(0, 0, 0, 0.33);
}

.mobile-side-menu-box .mo-dep1 > li.active > a {
  color: #bf9673;
  text-decoration: underline;
}
.mobile-side-menu-box .mo-dep1 > li.active > a:not(only-child)::after {
  content: '';
  top: 10%;
}
.mobile-side-menu-box .mo-dep1 > li > a {
  display: block;
  position: relative;
}
.mobile-side-menu-box .mo-dep1 > li > a:not(only-child)::after {
  position: absolute;
  content: '';
  font-family: fontAwesome;
  right: 0;
  top: 28%;
}

@media (width <= 768px) {
  .scroll-menu-box {
    display: none;
  }
  .mo-sub-facility-section {
    min-width: 320px;
    max-width: 768px;
  }
  .mo-sub-facility-section .mo-facility-background {
    height: 500px;
    position: relative;
    background-image: url('../images/모바일시설배경.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
  }
  .mo-sub-facility-section .mo-facility-background .mo-facility-con {
    height: 100%;
    position: relative;
  }
  .mo-sub-facility-section .mo-facility-background .mo-facility-tit {
    text-align: center;
    position: absolute;
    color: #fff;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    white-space: nowrap;
  }
  .mo-sub-facility-section .mo-facility-background hr {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 8rem;
    height: 1px;
    transform: translate(-50%, -50%);
    margin-block: 1.875rem 2rem;
    margin-inline: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
  }
  .mo-sub-facility-section .mo-facility-background p {
    text-align: center;
    position: absolute;
    color: #fff;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
  }

  .mo-facility-tab-con {
    padding-inline: 2rem;
  }

  .mo-facility-tab-section {
    margin-top: 3rem;
  }

  .mo-facility-tab-menu__head {
    min-width: 320px;
  }
  .mo-facility-tab-menu__head .mo-fa-tab-dep {
    width: 100%;
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .mo-facility-tab-menu__head .mo-fa-tab-dep li {
    display: table-cell;
    width: 100%;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    cursor: pointer;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
  }
  .mo-facility-tab-menu__head .mo-fa-tab-dep li.active {
    background-color: #43736e;
    color: #fff;
  }

  .mo-facility-tab-menu__body {
    min-width: 320px;
    margin-block: 2rem 2rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 100%;
  }
  .mo-facility-tab-menu__body li {
    display: none;
  }
  .mo-facility-tab-menu__body li.active {
    display: block;
  }
  .mo-facility-tab-menu__body .mo-fa-body-img-box > img {
    object-fit: cover;
    width: 100%;
    display: block;
  }
}
